.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h1 {
    font-weight: 300;
    font-size: 24px;
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 2px;

    label {
      font-size: 10px;
    }

    input,
    select {
      width: 100px;
      padding: 10px;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
      font-size: 14px;
    }
  }

  .top {
    input {
      width: 100%;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    button {
      width: 100px;
      padding: 10px;
      border: none;
      cursor: pointer;
      background-color: #fece51;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .filter {
      gap: 5px;

      h1 {
        font-size: 20px;
      }

      .item {
        gap: 1px;
      }

      input,
      select {
        width: 80px;
        padding: 8px;
        font-size: 12px;
      }

      .bottom {
        gap: 10px;

        button {
          padding: 8px;
        }
      }
    }
  }

  @media screen and (max-width: 480px) {
    .filter {
      gap: 3px;

      h1 {
        font-size: 18px;
      }

      .item {
        gap: 1px;
      }

      input,
      select {
        width: 60px;
        padding: 6px;
        font-size: 10px;
      }

      .bottom {
        gap: 5px;

        button {
          padding: 6px;
        }
      }
    }
  }
}
