.category-button {
    color: #0ca390;
    border: 1px solid #0ca390;
    background-color: transparent;
    border-radius: 999px;
    padding: 6px 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .category-button:hover {
    background-color: #0ca39a;
    color: white;
  }
  
  .active {
    background-color: #0ca39a;
    color: white;
  }
  